[submodule "extern/restbed"]
	path = extern/restbed
	url = https://github.com/Corvusoft/restbed.git
[submodule "extern/libpqxx"]
	path = extern/libpqxx
	url = https://github.com/jtv/libpqxx.git
[submodule "extern/semver"]
	path = extern/semver
	url = https://github.com/raftario/semver.git
