[submodule "extern/restbed"]
	path = extern/restbed
	url = https://github.com/Corvusoft/restbed.git
[submodule "extern/libpqxx"]
	path = extern/libpqxx
	url = https://github.com/jtv/libpqxx.git
[submodule "extern/rapidjson"]
	path = extern/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "BeatMods2-Client"]
	path = BeatMods2-Client
	url = git@github.com:raftario/BeatMods2-Client.git
	branch = master
[submodule "extern/date"]
	path = extern/date
	url = https://github.com/HowardHinnant/date.git
[submodule "extern/curl"]
	path = extern/curl
	url = https://github.com/curl/curl.git
[submodule "extern/graphqlgen"]
	path = extern/graphqlgen
	url = git@github.com:microsoft/cppgraphqlgen.git
